apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: true
    editable: true
    jsonData:
      timeInterval: 15s
      queryTimeout: 60s
      httpMethod: POST
      manageAlerts: true
      prometheusType: Prometheus
      prometheusVersion: 2.45.0
      cacheLevel: "High"
      disableMetricsLookup: false
      exemplarTraceIdDestinations:
        - name: trace_id
          datasourceUid: tempo
    secureJsonData:
      tlsSkipVerify: true
  
  - name: Loki
    type: loki
    access: proxy
    url: http://loki:3100
    editable: true
    jsonData:
      maxLines: 1000
      derivedFields:
        - datasourceUid: tempo
          matcherRegex: "traceID=(\\w+)"
          name: TraceID
          url: "$${__value.raw}"
  
  - name: Tempo
    type: tempo
    access: proxy
    url: http://tempo:3200
    editable: true
    jsonData:
      httpMethod: GET
      serviceMap:
        datasourceUid: prometheus
      search:
        hide: false
      nodeGraph:
        enabled: true
      tracesToLogs:
        datasourceUid: loki
        filterByTraceID: true
        filterBySpanID: false
        tags: ["job", "instance", "pod", "namespace"]
        mappedTags: []
  
  - name: PostgreSQL
    type: postgres
    access: proxy
    url: postgres:5432
    database: aicreateproject
    user: admin
    secureJsonData:
      password: admin123
    editable: true
    jsonData:
      sslmode: disable
      postgresVersion: 1500
      timescaledb: false
  
  - name: MySQL
    type: mysql
    access: proxy
    url: mysql:3306
    database: aicreateproject
    user: root
    secureJsonData:
      password: root123
    editable: true
    jsonData:
      sslmode: disable